<div class="container">
  <div class="container-formulario">
    <form [formGroup]="livroForm" (ngSubmit)="salvarLivro()">

      <div>
        <mat-form-field appearance="fill">
          <mat-label>Título</mat-label>
          <input matInput id="titulo" formControlName="titulo" type="text" />
          <mat-error *ngIf="livroForm.controls['titulo'].invalid && livroForm.controls['titulo'].touched">
            {{ buscarMensagemErro('titulo') }}
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill">
          <mat-label>Autor</mat-label>
          <input matInput id="autor" formControlName="autor" type="text" />
          <mat-error *ngIf="livroForm.controls['autor'].invalid && livroForm.controls['autor'].touched">
            {{ buscarMensagemErro('autor') }}
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill">
          <mat-label>Gênero</mat-label>
          <input matInput id="genero" formControlName="genero" type="text" />
          <mat-error *ngIf="livroForm.controls['genero'].invalid && livroForm.controls['genero'].touched">
            {{ buscarMensagemErro('genero') }}
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill">
          <mat-label>Ano de Publicação</mat-label>
          <input matInput id="anoPublicacao" formControlName="anoPublicacao" type="text" />
          <mat-error *ngIf="livroForm.controls['anoPublicacao'].invalid && livroForm.controls['anoPublicacao'].touched">
            {{ buscarMensagemErro('anoPublicacao') }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="rodape">
        <button mat-raised-button (click)="voltar()" color="primary">Cancelar</button>
        <button mat-raised-button type="submit" [disabled]="livroForm.invalid" color="primary">Salvar</button>
      </div>
    </form>
  </div>
</div>
